@tailwind base;
@tailwind components;
@tailwind utilities;

[data-collapsible] + [data-collapsible] {
	padding-top: 0;
}

:root {
	--bg-primary: #f9f9f9;
	--bg-secondary: #fff;
	--text-primary: #22262c;

	--brand-primary: #853aff;
	--brand-primary-light: #ab78ff;
}

.dark {
	--bg-primary: #040921;
	--bg-secondary: #101739;
	--text-primary: #ffffff;
}

.dark-mode body {
	@apply antialiased;
}

.container {
	@apply max-w-[1280px];
}

.hero-slice + section {
	@apply mt-0;
}
