@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #f9f9f9;
  --bg-secondary: #fff;
  --text-primary: #22262c;

  --brand-primary: #853aff;
  --brand-primary-light: #ab78ff;
}

[data-theme="dark"] {
  --bg-primary: #040921;
  --bg-secondary: #101739;
  --text-primary: #ffffff;
}

.dark-mode body {
  @apply antialiased;
}

.container {
  @apply max-w-[1280px];
}

.hero-slice + section {
  @apply mt-0;
}
